## IMPORTS

In [24]:
%matplotlib inline
#
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
from scipy.spatial.distance import cdist
import pandas as pd
from sklearn.metrics import confusion_matrix

In [25]:
# from tf.keras.models import Sequential  # This does not work!
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, GRU, Embedding
from tensorflow.python.keras.optimizers import Adam
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

In [26]:
#Check TensorFlow Version
tf.__version__

'1.13.1'

In [27]:
#Check Keras Version
tf.keras.__version__

'2.2.4-tf'

## IMPORT TWEET TEXT DATA

In [28]:
#Import
dem_train_text1 = pd.read_csv('../data_master/nlp_feed_data/dem_tweets.csv')                        

rep_test_text1 = pd.read_csv('../data_master/nlp_feed_data/rep_tweets.csv')

#Drop and show df
dem_train_text2 = dem_train_text1.drop(['Unnamed: 0'], axis=1)
print('DEMOCRAT TRAIN TWEETS')
print(dem_train_text2.head())
print(type(dem_train_text2)) 
      
rep_test_text2 = rep_test_text1.drop(['Unnamed: 0'], axis=1)
print('REPUBLICAN TEST TWEETS')
print(rep_test_text2.head())
print(type(rep_test_text2))

DEMOCRAT TRAIN TWEETS
                                               tweet
0  We're in a battle for the soul of this nation....
1  Today marks 50 years since the Stonewall upris...
2  I’ve fought my heart out to ensure that civil ...
3  At last night’s first Democratic debate, I lai...
4  I just got off the debate stage, where I laid ...
<class 'pandas.core.frame.DataFrame'>
REPUBLICAN TEST TWEETS
                                               tweet
0  NO American should worry about the cost of lif...
1  ALL American families deserve to live in safe ...
2  A targeted attack on our democracy is no laugh...
3  House Democrats are FOCUSED on protecting our ...
4  Mental health care is health care. We must pro...
<class 'pandas.core.frame.DataFrame'>

## CONVERT DATAFRAMES TO STRING FOR PREP TO FEED TO NLP

In [29]:
#Dataframe to list then list to strings
rep_test_text = rep_test_text.values.tolist()
for i in range(len(rep_test_text)):
    rep_test_text[i] = str(rep_test_text[i])
dem_train_text = dem_train_text.values.tolist()
for i in range(len(dem_train_text)):
    dem_train_text[i] = str(dem_train_text[i])
    
#Show strings
print('REPUBLICAN TEST LIST LENGTH')
print(len([rep_test_text]))
print(type(rep_test_text))
print('DEMOCRAT TRAIN LIST LENGTH')
print(len([dem_train_text]))
print(type(dem_train_text))

NameError: name 'rep_test_text' is not defined

## (NOT NEEDED BUT WANT TO KEEP IN CASE OF PIVOT)

In [30]:
IMPORT CLASSIFIER DATA

#Import
#dem_train_y = pd.read_csv('../data_master/nlp_feed_data/dem_classifier.csv')                        

#rep_train_x = pd.read_csv('../data_master/nlp_feed_data/rep_classifier.csv')

#Drop and show
#dem_train_y = dem_train_y.drop(['Unnamed: 0'], axis=1)
#print('DEMOCRAT CLASSIFIER')
#print(dem_train_y.head())
#print(type(dem_train_y))
      
#rep_train_x = rep_train_x.drop(['Unnamed: 0'], axis=1)
#print('REPUBLICAN CLASSIFIER')
#print(rep_train_x.head())
#print(type(rep_train_x))

CONVERT DATAFRAMES TO LIST FOR PREP FEED TO NLP

#rep_train_x = rep_train_x.values.tolist()
#for i in range(len(rep_train_x)):
#    rep_train_x[i] = str(rep_train_x[i])
#dem_train_y = dem_train_y.values.tolist()

#print('REPUBLICAN LIST LENGTH')
#print(len([rep_train_x]))
#print(type(rep_train_x))
#print('DEMOCRAT LIST LENGTH')
#print(len([dem_train_y]))
#print(type(dem_train_y))

SyntaxError: invalid syntax (<ipython-input-30-feb4758469ec>, line 1)

## CREATE DATAFRAMES WITH CLASSIFIER VALUE 1 OR 0

In [31]:
dem_train_y = [i for i in np.arange(1,9055,1)]
print('Interger Return off of DF initial build (7th posistion)')
print(dem_train_y[7])
for n, i in enumerate(dem_train_y):
              dem_train_y[n] = 1
print('Interger Return off of DF refactored (0) build')
print(dem_train_y[7])
dem_train_y

#list to DF 
dem_train_y_df = pd.DataFrame(dem_train_y)


rep_test_x = [i for i in np.arange(1,14449,1)]
print('Interger Return off of DF initial build (7th posistion)')
print(rep_test_x[7])
for n, i in enumerate(rep_test_x):
              rep_test_x[n] = 0
print('Interger Return off of DF refactored (1) build')
print(type(rep_test_x))
#list to DF 
rep_test_x_df = pd.DataFrame(rep_test_x)
rep_test_text2
rep_test_x_df

Interger Return off of DF initial build (7th posistion)
8
Interger Return off of DF refactored (0) build
1
Interger Return off of DF initial build (7th posistion)
8
Interger Return off of DF refactored (1) build
<class 'list'>

       0
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
14418  0
14419  0
14420  0
14421  0
14422  0
14423  0
14424  0
14425  0
14426  0
14427  0
14428  0
14429  0
14430  0
14431  0
14432  0
14433  0
14434  0
14435  0
14436  0
14437  0
14438  0
14439  0
14440  0
14441  0
14442  0
14443  0
14444  0
14445  0
14446  0
14447  0

[14448 rows x 1 columns]

## DATA REWORK

In [32]:
#rep_tweet_0 = pd.concat([rep_test_text2, rep_test_x_df], axis=1, join='union')
#dem_tweet_1 = pd.concat([dem_train_text2, dem_train_y_df], axis=1, join='union')
#merged = pd.merge(rep_test_text2, rep_test_x_df, on=['tweet','0'])
rep_tc_0 = pd.merge(rep_test_text2, rep_test_x_df, left_index=True, right_index=True)
dem_tc_1 = pd.merge(dem_train_text2, dem_train_y_df, left_index=True, right_index=True)
dem_tc_1.head()

                                               tweet  0
0  We're in a battle for the soul of this nation....  1
1  Today marks 50 years since the Stonewall upris...  1
2  I’ve fought my heart out to ensure that civil ...  1
3  At last night’s first Democratic debate, I lai...  1
4  I just got off the debate stage, where I laid ...  1

In [48]:
dem_rep_all = dem_tc_1.append(rep_tc_0, ignore_index=True)
dem_rep_all.head()

                                               tweet  0
0  We're in a battle for the soul of this nation....  1
1  Today marks 50 years since the Stonewall upris...  1
2  I’ve fought my heart out to ensure that civil ...  1
3  At last night’s first Democratic debate, I lai...  1
4  I just got off the debate stage, where I laid ...  1

In [47]:
dem_rep_allv2 = dem_rep_all.drop("tweet", axis=1)
dem_rep_allv2.head()

   0
0  1
1  1
2  1
3  1
4  1

In [57]:
dem_rep_allv2 = dem_rep_allv2.rename(columns={0: 1})
dem_rep_allv2

       1
0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
...   ..
23472  0
23473  0
23474  0
23475  0
23476  0
23477  0
23478  0
23479  0
23480  0
23481  0
23482  0
23483  0
23484  0
23485  0
23486  0
23487  0
23488  0
23489  0
23490  0
23491  0
23492  0
23493  0
23494  0
23495  0
23496  0
23497  0
23498  0
23499  0
23500  0
23501  0

[23502 rows x 1 columns]

In [62]:
dem_rep_allv7 = dem_rep_allv2.rename(columns={1: 2})
dem_rep_allv7

       2
0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
...   ..
23472  0
23473  0
23474  0
23475  0
23476  0
23477  0
23478  0
23479  0
23480  0
23481  0
23482  0
23483  0
23484  0
23485  0
23486  0
23487  0
23488  0
23489  0
23490  0
23491  0
23492  0
23493  0
23494  0
23495  0
23496  0
23497  0
23498  0
23499  0
23500  0
23501  0

[23502 rows x 1 columns]

In [63]:
dem_rep_allv3 = pd.merge(dem_rep_all, dem_rep_allv2, left_index=True, right_index=True)
dem_rep_allv5 = pd.merge(dem_rep_allv3, dem_rep_allv7, left_index=True, right_index=True)
dem_rep_allv5

                                                   tweet  0  1  2
0      We're in a battle for the soul of this nation....  1  1  1
1      Today marks 50 years since the Stonewall upris...  1  1  1
2      I’ve fought my heart out to ensure that civil ...  1  1  1
3      At last night’s first Democratic debate, I lai...  1  1  1
4      I just got off the debate stage, where I laid ...  1  1  1
5      That’s a wrap! Thanks for following along with...  1  1  1
6      "There's not a single thing the American peopl...  1  1  1
7      We know NATO will fall apart if Donald Trump i...  1  1  1
8      Retweet if you're proud to be on #TeamJoe! #De...  1  1  1
9      The Biden administration will make the largest...  1  1  1
10     The members of the NRA are not our opponents —...  1  1  1
11     The Iraq war was a strategic mistake that cost...  1  1  1
12     Joe Biden shepherded through the Brady Backgro...  1  1  1
13     Climate change is a global challenge that requ...  1  1  1
14     As President, Joe Biden will export our clean-...  1  1  1
15     Joe Biden played a key role in securing the ex...  1  1  1
16     “We would reunite those families, period.” #De...  1  1  1
17     Our immigration system must be fixed without t...  1  1  1
18     As Vice President, Joe Biden worked with the l...  1  1  1
19     "Health care is personal to me... there are pe...  1  1  1
20     Now, we need to finish the job and make health...  1  1  1
21     As VP, Joe Biden stood shoulder to shoulder wi...  1  1  1
22                               https://t.co/H3a61KTPQM  1  1  1
23     We've got to do better for our educators and o...  1  1  1
24     This country wasn’t built by Wall Street banke...  1  1  1
25     Hey everyone — @TeamJoe here! We’re taking ove...  1  1  1
26     I’m about to take the debate stage. The large,...  1  1  1
27     We have to choose hope over fear, truth over l...  1  1  1
28     We can do all this and more – all that stands ...  1  1  1
29     Climate change is an existential threat. We ha...  1  1  1
...                                                  ... .. .. ..
23472  #CruzCrew: Get your #ToughasTexas gear today!\...  0  0  0
23473  Thank you, #CruzCrew! #TXSen #KeepTexasRed htt...  0  0  0
23474             @gabrielmalor  https://t.co/SzMdhPImL7  0  0  0
23475  Small business drives our economy: 2/3 of new ...  0  0  0
23476  Texas Sentinels Foundation Honors Texan Medal ...  0  0  0
23477  By investing in the next generation of student...  0  0  0
23478  Get yours here: https://t.co/25cD9fUceA #TXSen...  0  0  0
23479  "Cruz’s bill seems to strike the right balance...  0  0  0
23480  Ted Cruz and Jimmy Kimmel are better at raisin...  0  0  0
23481  WATCH: @jimmykimmel and I played a game of bas...  0  0  0
23482  We had a great time playing basketball and rai...  0  0  0
23483  The winners on Saturday Night were the childre...  0  0  0
23484  With your generous help, we’ve already raised ...  0  0  0
23485  And please make a donation to either @generati...  0  0  0
23486  The game was yesterday, but you can still make...  0  0  0
23487  My dad has been my hero my whole life. Here’s ...  0  0  0
23488  The winner tonight? \n\n@generation1TX and @Te...  0  0  0
23489  Post game interview with @IAMGUILLERMO #Kimmel...  0  0  0
23490  The crowd is fired up! #KimmelvsCruz🏀 #CruzToV...  0  0  0
23491  20 minutes! #KimmelvsCruz🏀 https://t.co/PVVgej...  0  0  0
23492  A couple of pregame interviews #KimmelvsCruz🏀 ...  0  0  0
23493  Rest easy, @jimmykimmel... you won’t be playin...  0  0  0
23494  Picking up my stand in… are you ready, @jimmyk...  0  0  0
23495  Meeting the future of the @TexasGOP #RPTCon18 ...  0  0  0
23496  Five hours until 🏀 time with ⁦@jimmykimmel⁩ #K...  0  0  0
23497  We need @KonniBurton to come back to the Texas...  0  0  0
23498  Miss my speech at #RPTCon18? \n\nWatch it here...  0  0  0
23499  #CruzCrew: come get a photo at our @TexasGOP C...  0  0  0
23500  See y’all soon at the @TexasGOP convention! \n...  0  0  0
23501  GAME DAY! Are you ready for it?\n\nTweet #Team...  0  0  0

[23502 rows x 4 columns]

In [65]:
X = dem_rep_allv5.drop("tweet", axis=1)
y = dem_rep_allv5["tweet"]
print(X.shape, y.shape)

(23502, 3) (23502,)

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

## COMBINE DATA SETS FOR USE LATER

In [62]:
data_text = dem_train_text + rep_test_text

## TOKENIZER

In [63]:
num_words = 10000

In [64]:
tokenizer = Tokenizer(num_words=num_words)

In [65]:
%%time
tokenizer.fit_on_texts(data_text)

CPU times: user 870 ms, sys: 8.11 ms, total: 878 ms
Wall time: 877 ms

In [66]:
if num_words is None:
    num_words = len(tokenizer.word_index)

In [67]:
tokenizer.word_index

{'the': 1,
 'to': 2,
 'co': 3,
 't': 4,
 'https': 5,
 'of': 6,
 'a': 7,
 'and': 8,
 'in': 9,
 'for': 10,
 'is': 11,
 'amp': 12,
 'n': 13,
 "'": 14,
 'on': 15,
 'that': 16,
 'we': 17,
 'our': 18,
 'with': 19,
 'are': 20,
 'this': 21,
 'will': 22,
 'be': 23,
 'it': 24,
 'have': 25,
 'you': 26,
 'i': 27,
 'they': 28,
 'not': 29,
 'from': 30,
 'by': 31,
 'at': 32,
 'their': 33,
 'has': 34,
 'people': 35,
 'as': 36,
 'all': 37,
 'who': 38,
 'but': 39,
 'he': 40,
 'more': 41,
 'about': 42,
 'his': 43,
 'was': 44,
 'an': 45,
 'us': 46,
 'your': 47,
 'or': 48,
 'my': 49,
 's': 50,
 "'the": 51,
 'up': 52,
 'now': 53,
 '”': 54,
 'no': 55,
 'nhttps': 56,
 'do': 57,
 'u': 58,
 'out': 59,
 'them': 60,
 'must': 61,
 'today': 62,
 'country': 63,
 'president': 64,
 'can': 65,
 '–': 66,
 'time': 67,
 'just': 68,
 'american': 69,
 'should': 70,
 'one': 71,
 'americans': 72,
 'what': 73,
 'great': 74,
 'so': 75,
 'make': 76,
 'venezuela': 77,
 'if': 78,
 'get': 79,
 'trump': 80,
 'need': 81,
 'tax': 82,
 'would': 83,
 'new': 84,
 'than': 85,
 'health': 86,
 'care': 87,
 'been': 88,
 'vote': 89,
 'senate': 90,
 'china': 91,
 'over': 92,
 'families': 93,
 'bill': 94,
 'work': 95,
 'how': 96,
 'http': 97,
 'working': 98,
 'every': 99,
 'when': 100,
 'right': 101,
 'day': 102,
 'like': 103,
 'support': 104,
 'years': 105,
 'america': 106,
 'very': 107,
 'democrats': 108,
 'many': 109,
 'those': 110,
 'border': 111,
 'because': 112,
 'back': 113,
 'security': 114,
 'him': 115,
 'me': 116,
 'congress': 117,
 "'i": 118,
 'against': 119,
 'year': 120,
 'help': 121,
 'fight': 122,
 'it’s': 123,
 'national': 124,
 'government': 125,
 'going': 126,
 'why': 127,
 'take': 128,
 '1': 129,
 'which': 130,
 'want': 131,
 'house': 132,
 'only': 133,
 'know': 134,
 'into': 135,
 'her': 136,
 'workers': 137,
 'good': 138,
 'last': 139,
 'end': 140,
 'these': 141,
 'big': 142,
 'after': 143,
 'act': 144,
 'law': 145,
 'here': 146,
 'republicans': 147,
 'its': 148,
 'state': 149,
 'live': 150,
 'other': 151,
 'military': 152,
 'see': 153,
 'stop': 154,
 '2': 155,
 "'we": 156,
 'way': 157,
 'first': 158,
 'jobs': 159,
 'made': 160,
 'realdonaldtrump': 161,
 'florida': 162,
 'economy': 163,
 'being': 164,
 'stand': 165,
 'world': 166,
 'never': 167,
 'there': 168,
 'maduro': 169,
 'family': 170,
 'plan': 171,
 'before': 172,
 'keep': 173,
 'any': 174,
 'news': 175,
 "'this": 176,
 'much': 177,
 'even': 178,
 'were': 179,
 'nation': 180,
 'companies': 181,
 'most': 182,
 'some': 183,
 'job': 184,
 'states': 185,
 'women': 186,
 'don’t': 187,
 'had': 188,
 'go': 189,
 'deal': 190,
 'federal': 191,
 'am': 192,
 'pay': 193,
 '3': 194,
 'rights': 195,
 'change': 196,
 '000': 197,
 'million': 198,
 'fighting': 199,
 'down': 200,
 'wall': 201,
 'together': 202,
 'long': 203,
 'campaign': 204,
 'protect': 205,
 'demsatwork': 206,
 'via': 207,
 'strong': 208,
 'again': 209,
 'united': 210,
 'maduroregime': 211,
 'off': 212,
 'week': 213,
 'children': 214,
 'lord': 215,
 'watch': 216,
 'give': 217,
 'ago': 218,
 'de': 219,
 'still': 220,
 'iran': 221,
 'continue': 222,
 'power': 223,
 'across': 224,
 'justice': 225,
 'forthepeople': 226,
 'crisis': 227,
 'money': 228,
 'thank': 229,
 'class': 230,
 'election': 231,
 'millions': 232,
 'life': 233,
 'better': 234,
 'middle': 235,
 'come': 236,
 'biden': 237,
 'also': 238,
 'too': 239,
 'where': 240,
 'members': 241,
 "sayfie'": 242,
 'done': 243,
 "'today": 244,
 'hard': 245,
 'important': 246,
 'said': 247,
 'judge': 248,
 'she': 249,
 'obama': 250,
 'say': 251,
 '—': 252,
 'through': 253,
 'doing': 254,
 'system': 255,
 'while': 256,
 'business': 257,
 'administration': 258,
 'without': 259,
 'political': 260,
 'could': 261,
 'may': 262,
 'real': 263,
 'public': 264,
 'put': 265,
 'join': 266,
 'war': 267,
 'next': 268,
 '4': 269,
 'well': 270,
 'pass': 271,
 'potus': 272,
 'media': 273,
 'democracy': 274,
 'kavanaugh': 275,
 'regime': 276,
 'making': 277,
 'did': 278,
 'days': 279,
 '5': 280,
 'txsen': 281,
 'economic': 282,
 'court': 283,
 'own': 284,
 'god': 285,
 'proud': 286,
 'another': 287,
 'everyone': 288,
 'tonight': 289,
 'history': 290,
 'keeptexasred': 291,
 'ever': 292,
 'isn’t': 293,
 'republican': 294,
 'read': 295,
 'future': 296,
 'got': 297,
 'leaders': 298,
 'let': 299,
 'since': 300,
 'policy': 301,
 'sure': 302,
 'nothing': 303,
 'students': 304,
 'two': 305,
 'away': 306,
 'report': 307,
 'jguaido': 308,
 'reform': 309,
 'gop': 310,
 'getting': 311,
 'under': 312,
 'free': 313,
 'honor': 314,
 'believe': 315,
 'can’t': 316,
 'high': 317,
 'cuts': 318,
 'same': 319,
 'does': 320,
 'win': 321,
 'trade': 322,
 'left': 323,
 'sayfie': 324,
 'passed': 325,
 'then': 326,
 'cut': 327,
 'lives': 328,
 'best': 329,
 'home': 330,
 'russia': 331,
 'thanks': 332,
 'community': 333,
 'access': 334,
 'goptaxscam': 335,
 'forward': 336,
 'insurance': 337,
 'including': 338,
 'already': 339,
 'democratic': 340,
 'nthe': 341,
 "it's": 342,
 'fake': 343,
 'use': 344,
 'violence': 345,
 'doesn’t': 346,
 'vp': 347,
 'threat': 348,
 'medicare': 349,
 'full': 350,
 'clear': 351,
 'deserve': 352,
 'service': 353,
 'morning': 354,
 'until': 355,
 'human': 356,
 'soon': 357,
 "'in": 358,
 'needs': 359,
 'attack': 360,
 'housedemocrats': 361,
 'provide': 362,
 'billion': 363,
 'bring': 364,
 'that’s': 365,
 'few': 366,
 '10': 367,
 'u2069': 368,
 'action': 369,
 'think': 370,
 'discuss': 371,
 'look': 372,
 "'a": 373,
 'coming': 374,
 "'thank": 375,
 "'if": 376,
 'small': 377,
 'record': 378,
 'wage': 379,
 'bad': 380,
 'sanctions': 381,
 'mexico': 382,
 "'s": 383,
 'climate': 384,
 'senategop': 385,
 'white': 386,
 'u2066': 387,
 'taxreform': 388,
 'love': 389,
 'allow': 390,
 'instead': 391,
 'i’m': 392,
 'night': 393,
 'communities': 394,
 'far': 395,
 'trying': 396,
 'education': 397,
 'local': 398,
 'things': 399,
 'texas': 400,
 "'our": 401,
 'open': 402,
 'hope': 403,
 'yesterday': 404,
 'part': 405,
 'drug': 406,
 'safe': 407,
 'call': 408,
 'always': 409,
 'policies': 410,
 'freedom': 411,
 'aid': 412,
 'thousands': 413,
 'food': 414,
 'washington': 415,
 'foreign': 416,
 'press': 417,
 'order': 418,
 'cannot': 419,
 'nbut': 420,
 'nwe': 421,
 'wages': 422,
 'anti': 423,
 '7': 424,
 'party': 425,
 'enough': 426,
 'both': 427,
 'supreme': 428,
 'top': 429,
 'attacks': 430,
 'social': 431,
 'opportunity': 432,
 'create': 433,
 'immigration': 434,
 'between': 435,
 'place': 436,
 'veterans': 437,
 'voting': 438,
 'man': 439,
 'school': 440,
 'control': 441,
 'affordable': 442,
 'officials': 443,
 'fair': 444,
 'tomorrow': 445,
 'fact': 446,
 'paid': 447,
 'find': 448,
 'special': 449,
 'true': 450,
 'bipartisan': 451,
 'wants': 452,
 '15': 453,
 'legislation': 454,
 'says': 455,
 'leadership': 456,
 'disaster': 457,
 'corporations': 458,
 'taxes': 459,
 'dems': 460,
 'team': 461,
 'elections': 462,
 'around': 463,
 'office': 464,
 'friends': 465,
 'shall': 466,
 'businesses': 467,
 'el': 468,
 'voted': 469,
 'energy': 470,
 'taking': 471,
 'funding': 472,
 'early': 473,
 'yet': 474,
 'la': 475,
 'forces': 476,
 'we’re': 477,
 'held': 478,
 "we're": 479,
 'ensure': 480,
 'thing': 481,
 'everything': 482,
 'ready': 483,
 'really': 484,
 'remember': 485,
 'benefits': 486,
 'won’t': 487,
 'illegal': 488,
 'step': 489,
 "'it": 490,
 'address': 491,
 'behind': 492,
 'men': 493,
 'works': 494,
 "'great": 495,
 'growth': 496,
 'gun': 497,
 'wrong': 498,
 'powerful': 499,
 'water': 500,
 "'as": 501,
 'defend': 502,
 'sign': 503,
 'county': 504,
 'start': 505,
 'during': 506,
 'called': 507,
 'below': 508,
 'putin': 509,
 'didn’t': 510,
 'nand': 511,
 'industry': 512,
 'lost': 513,
 'become': 514,
 'hold': 515,
 'senator': 516,
 'israel': 517,
 'follow': 518,
 'makes': 519,
 'efforts': 520,
 'dollars': 521,
 '6': 522,
 'helping': 523,
 'cuba': 524,
 'conditions': 525,
 'term': 526,
 'young': 527,
 'happy': 528,
 "i'm": 529,
 'politics': 530,
 'major': 531,
 'able': 532,
 'continues': 533,
 'kids': 534,
 'months': 535,
 'relief': 536,
 'employees': 537,
 'crime': 538,
 'student': 539,
 '8': 540,
 'decision': 541,
 'company': 542,
 'mueller': 543,
 'move': 544,
 "'watch": 545,
 'serve': 546,
 'financial': 547,
 'talk': 548,
 'income': 549,
 'interests': 550,
 '9': 551,
 'low': 552,
 'heart': 553,
 'clean': 554,
 'pre': 555,
 '100': 556,
 'safety': 557,
 "”'": 558,
 'dangerous': 559,
 'investigation': 560,
 'constitution': 561,
 "'on": 562,
 'constitutional': 563,
 'build': 564,
 'run': 565,
 'hearing': 566,
 'leader': 567,
 'asked': 568,
 'lead': 569,
 "'it’s": 570,
 'comes': 571,
 'accountable': 572,
 'banks': 573,
 'program': 574,
 "'just": 575,
 'committee': 576,
 'corporate': 577,
 'response': 578,
 'anyone': 579,
 'used': 580,
 'leave': 581,
 'less': 582,
 'running': 583,
 'ni': 584,
 'met': 585,
 'housing': 586,
 'issues': 587,
 'increase': 588,
 '11': 589,
 'line': 590,
 'agree': 591,
 'en': 592,
 'speak': 593,
 'college': 594,
 'wyoming': 595,
 'rich': 596,
 'growing': 597,
 'story': 598,
 'meeting': 599,
 'old': 600,
 'person': 601,
 'w': 602,
 'show': 603,
 'force': 604,
 'tune': 605,
 'living': 606,
 'nations': 607,
 'defense': 608,
 'giving': 609,
 'hear': 610,
 "'happy": 611,
 'led': 612,
 'conference': 613,
 'elected': 614,
 'coverage': 615,
 'street': 616,
 'drugs': 617,
 'movement': 618,
 'looking': 619,
 "'thanks": 620,
 'criminal': 621,
 'former': 622,
 'countries': 623,
 'existing': 624,
 'raise': 625,
 'month': 626,
 '30': 627,
 'protections': 628,
 'nominee': 629,
 '12': 630,
 'child': 631,
 'close': 632,
 'hours': 633,
 'floor': 634,
 'fbi': 635,
 'govt': 636,
 'along': 637,
 'having': 638,
 'such': 639,
 'scotus': 640,
 'zte': 641,
 'level': 642,
 'happen': 643,
 'something': 644,
 'guard': 645,
 'massive': 646,
 'nomination': 647,
 '20': 648,
 'america’s': 649,
 'southern': 650,
 'friend': 651,
 'profits': 652,
 'longer': 653,
 'nthis': 654,
 'collusion': 655,
 'pro': 656,
 'credit': 657,
 'face': 658,
 'came': 659,
 'process': 660,
 'others': 661,
 'humanitarian': 662,
 'effort': 663,
 'means': 664,
 'given': 665,
 'single': 666,
 'y': 667,
 'speech': 668,
 'armed': 669,
 'police': 670,
 'incredible': 671,
 'nuclear': 672,
 'legitimate': 673,
 'general': 674,
 'gangs': 675,
 "'https": 676,
 'set': 677,
 'gave': 678,
 'john': 679,
 'spoke': 680,
 'took': 681,
 'past': 682,
 'rule': 683,
 'higher': 684,
 "'vp": 685,
 'bank': 686,
 'brett': 687,
 'corruption': 688,
 'entire': 689,
 'progress': 690,
 "'my": 691,
 'votes': 692,
 'chance': 693,
 'nearly': 694,
 'number': 695,
 'truth': 696,
 'tell': 697,
 "'when": 698,
 'little': 699,
 'puerto': 700,
 "'congratulations": 701,
 'try': 702,
 "4'": 703,
 'reason': 704,
 'actions': 705,
 'rate': 706,
 'problem': 707,
 'citizens': 708,
 '2018': 709,
 'based': 710,
 'heard': 711,
 'union': 712,
 'break': 713,
 'save': 714,
 'ask': 715,
 "'president": 716,
 'interest': 717,
 'earth': 718,
 'each': 719,
 'debt': 720,
 'video': 721,
 'que': 722,
 'please': 723,
 'issue': 724,
 'gt': 725,
 'choosecruz': 726,
 'fought': 727,
 'stay': 728,
 'fear': 729,
 'rally': 730,
 'hour': 731,
 'once': 732,
 'turn': 733,
 'almost': 734,
 'minimum': 735,
 'radical': 736,
 'wealthy': 737,
 'laws': 738,
 'anything': 739,
 'told': 740,
 'cfpb': 741,
 'senatemajldr': 742,
 'dignity': 743,
 'supporting': 744,
 'un': 745,
 'joined': 746,
 'serious': 747,
 'information': 748,
 'democrat': 749,
 'repjoecrowley': 750,
 'debate': 751,
 'protecting': 752,
 'trump’s': 753,
 "'for": 754,
 'meet': 755,
 'helped': 756,
 'created': 757,
 'risk': 758,
 'impact': 759,
 'share': 760,
 'times': 761,
 'syria': 762,
 'values': 763,
 'using': 764,
 'spent': 765,
 'side': 766,
 'nation’s': 767,
 'donald': 768,
 'question': 769,
 'possible': 770,
 'governor': 771,
 'district': 772,
 'agenda': 773,
 'large': 774,
 'matter': 775,
 'ones': 776,
 'return': 777,
 "'“the": 778,
 'oil': 779,
 '13': 780,
 'he’s': 781,
 'rules': 782,
 'city': 783,
 'plans': 784,
 'visit': 785,
 'answer': 786,
 'ceo': 787,
 'cost': 788,
 'prevent': 789,
 "'i’m": 790,
 'seen': 791,
 'visited': 792,
 'huawei': 793,
 'worked': 794,
 'medicaid': 795,
 'paying': 796,
 'choice': 797,
 'troops': 798,
 'international': 799,
 'taken': 800,
 'realdonaldtrump’s': 801,
 'total': 802,
 'quality': 803,
 'words': 804,
 'current': 805,
 'sotu': 806,
 'evil': 807,
 'taxcutsandjobsact': 808,
 'idea': 809,
 'promise': 810,
 'parents': 811,
 'needed': 812,
 'committed': 813,
 'failed': 814,
 'amendment': 815,
 'finally': 816,
 'understand': 817,
 'rico': 818,
 'costs': 819,
 'november': 820,
 'critical': 821,
 'shutdown': 822,
 'npsalms': 823,
 'standing': 824,
 "don't": 825,
 '25': 826,
 'board': 827,
 'budget': 828,
 '50': 829,
 'strength': 830,
 'voice': 831,
 'services': 832,
 'celebrate': 833,
 'truly': 834,
 'someone': 835,
 "'no": 836,
 'weeks': 837,
 'healthcare': 838,
 'moment': 839,
 'air': 840,
 'facing': 841,
 'name': 842,
 'presidential': 843,
 'fix': 844,
 'whether': 845,
 'honored': 846,
 'billions': 847,
 'wait': 848,
 'infrastructure': 849,
 'market': 850,
 'cruzcrew': 851,
 'voter': 852,
 'buy': 853,
 'south': 854,
 'talking': 855,
 'else': 856,
 'ahead': 857,
 'recovery': 858,
 'spending': 859,
 'senatedems': 860,
 'respect': 861,
 'majority': 862,
 're': 863,
 'gets': 864,
 'lower': 865,
 'opioid': 866,
 'ca': 867,
 'enforcement': 868,
 'built': 869,
 'race': 870,
 '2019': 871,
 'woman': 872,
 'role': 873,
 'legal': 874,
 'teachers': 875,
 'n1': 876,
 'isis': 877,
 'weapons': 878,
 'dreamers': 879,
 'spend': 880,
 'tariffs': 881,
 "'tune": 882,
 'huge': 883,
 "let's": 884,
 'caracas': 885,
 'global': 886,
 'head': 887,
 'least': 888,
 'ban': 889,
 'peace': 890,
 '18': 891,
 'chinese': 892,
 'defeat': 893,
 'worse': 894,
 'damage': 895,
 'saying': 896,
 'secretary': 897,
 'member': 898,
 "'rep": 899,
 'case': 900,
 'prescription': 901,
 'c': 902,
 'receive': 903,
 'let’s': 904,
 'key': 905,
 'allowed': 906,
 'forced': 907,
 "that's": 908,
 'center': 909,
 'hurricane': 910,
 'sent': 911,
 'hillary': 912,
 'private': 913,
 'word': 914,
 'kind': 915,
 'birthday': 916,
 'forget': 917,
 'loan': 918,
 "'house": 919,
 '↓': 920,
 'equal': 921,
 'later': 922,
 'dr': 923,
 'north': 924,
 'questions': 925,
 'congressional': 926,
 'saudi': 927,
 'different': 928,
 'event': 929,
 'shows': 930,
 "'republicans": 931,
 'send': 932,
 'death': 933,
 'point': 934,
 'example': 935,
 'n2': 936,
 'ma': 937,
 'courage': 938,
 'especially': 939,
 'colleagues': 940,
 'admin': 941,
 'nit': 942,
 'promised': 943,
 'iowa': 944,
 'intelligence': 945,
 'staff': 946,
 'al': 947,
 'served': 948,
 'demand': 949,
 'evidence': 950,
 'benefit': 951,
 "can't": 952,
 'message': 953,
 'victims': 954,
 'price': 955,
 'expect': 956,
 'facts': 957,
 'wealth': 958,
 'they’re': 959,
 'town': 960,
 'group': 961,
 'aren’t': 962,
 'fl': 963,
 'near': 964,
 'hand': 965,
 'colombia': 966,
 'expand': 967,
 'son': 968,
 'romney': 969,
 'prices': 970,
 'reports': 971,
 'emergency': 972,
 'simple': 973,
 'won': 974,
 'nif': 975,
 'lose': 976,
 'billionaires': 977,
 'due': 978,
 'went': 979,
 'getcovered': 980,
 'investment': 981,
 'fossil': 982,
 'seeing': 983,
 'knows': 984,
 'planet': 985,
 'latest': 986,
 'fired': 987,
 'basic': 988,
 'result': 989,
 'senators': 990,
 'actually': 991,
 'stronger': 992,
 'hate': 993,
 'historic': 994,
 'data': 995,
 '👇': 996,
 'update': 997,
 'joe': 998,
 'fund': 999,
 'code': 1000,
 ...}

In [68]:
#Use the tokenizer to convert all democrat tweets in the training-set to lists of these tokens.
dem_text_train_tokens = tokenizer.texts_to_sequences(dem_train_text)

In [69]:
np.array(dem_text_train_tokens[1])

array([ 244, 4000,  829,  105,  300,    1, 6221,  240,  110, 1117, 2517,
        681,    7,  165,   15, 4165, 1624,    8, 2191,   18,  166, 1749,
         17,   61,  222,   18,  122,   10,  350, 1429, 1240,  355,  288,
         11, 1262,   19,    1,  743,    8,  861,   28,  352,    5,    4,
          3])

In [70]:
#Also need to convert the tweets in the test-set to tokens.
rep_test_tokens = tokenizer.texts_to_sequences(rep_test_text)

## PADDING AND TRUNCATING DATA

In [71]:
#Count the number of tokens in all the sequences in the data-set.
num_tokens = [len(tokens) for tokens in dem_text_train_tokens + rep_test_tokens]
num_tokens = np.array(num_tokens)

In [72]:
#Average number of tokens in a sequence
np.mean(num_tokens)

30.565441239043487

In [73]:
#Maximum number of tokens in a sequence
np.max(num_tokens)

62

In [74]:
#Max number of tokens we will allow is set to the average plus 2 standard deviations
max_tokens = np.mean(num_tokens) + 2 * np.std(num_tokens)
max_tokens = int(max_tokens)
max_tokens

56

In [75]:
#Covers about 99% of the data-set
np.sum(num_tokens < max_tokens) / len(num_tokens)

0.9950217002808271

## NVM ACTUAL PADDING HERE

In [76]:
pad = 'pre'

In [77]:
x_train_pad = pad_sequences(dem_text_train_tokens, maxlen=max_tokens,
                            padding=pad, truncating=pad)

In [78]:
x_test_pad = pad_sequences(rep_test_tokens, maxlen=max_tokens,
                           padding=pad, truncating=pad)

In [79]:
#Matrix for the train-set
x_train_pad.shape

(9054, 56)

In [80]:
#Matrix for the test-set
#
# !!! EXAMPLE HAS TEST AND TRAIN SHAPE THE EXACT SAME !!!
#
x_test_pad.shape

(14448, 56)

In [81]:
#Squence of tokens
np.array(rep_test_tokens[1])

array([1753,   69,   93,  352,    2,  150,    9,  407,  394,   13, 1815,
        108,   25,  325, 5584, 4967, 1023,    2,  480,   18, 3574,  557,
         10, 1454,    2,  236,   39,  240,   20,  742,    8,   90,  147,
          2,   57,   33,  184,   13,   56,    4,    3])

In [82]:
#Squence of tokens
np.array(dem_text_train_tokens[1])

array([ 244, 4000,  829,  105,  300,    1, 6221,  240,  110, 1117, 2517,
        681,    7,  165,   15, 4165, 1624,    8, 2191,   18,  166, 1749,
         17,   61,  222,   18,  122,   10,  350, 1429, 1240,  355,  288,
         11, 1262,   19,    1,  743,    8,  861,   28,  352,    5,    4,
          3])

In [83]:
#Padded to create the following sequence
#
# !!! LOOKS DIFFERENT FROM THE EXAMPLE !!!
#
rep_test_tokens[1]

[1753,
 69,
 93,
 352,
 2,
 150,
 9,
 407,
 394,
 13,
 1815,
 108,
 25,
 325,
 5584,
 4967,
 1023,
 2,
 480,
 18,
 3574,
 557,
 10,
 1454,
 2,
 236,
 39,
 240,
 20,
 742,
 8,
 90,
 147,
 2,
 57,
 33,
 184,
 13,
 56,
 4,
 3]

## TOKENIZER INVERSE MAP

In [84]:
idx = tokenizer.word_index
inverse_map = dict(zip(idx.values(), idx.keys()))

In [85]:
def tokens_to_string(tokens):
    # Map from tokens back to words.
    words = [inverse_map[token] for token in tokens if token != 0]
    
    # Concatenate all words.
    text = " ".join(words)

    return text

In [86]:
tokens_to_string(dem_text_train_tokens[1])

"'today marks 50 years since the uprising where those brave individuals took a stand on christopher st and changed our world forever we must continue our fight for full lgbtq equality until everyone is treated with the dignity and respect they deserve https t co"

In [87]:
tokens_to_string(rep_test_tokens[1])

"'all american families deserve to live in safe communities n nhouse democrats have passed 2️⃣ gunsafety bills to ensure our children’s safety for generations to come but where are senatemajldr and senate republicans to do their job n nhttps t co"

## CREATE THE RECURRENT NEURAL NETWORK

In [88]:
model = Sequential()

In [89]:
embedding_size = 8

In [90]:
model.add(Embedding(input_dim=num_words,
                    output_dim=embedding_size,
                    input_length=max_tokens,
                    name='layer_embedding'))

In [91]:
model.add(GRU(units=16, return_sequences=True))

In [92]:
model.add(GRU(units=8, return_sequences=True))

In [93]:
model.add(GRU(units=4))

In [94]:
model.add(Dense(1, activation='sigmoid'))

In [95]:
optimizer = Adam(lr=1e-3)

In [96]:
model.compile(loss='binary_crossentropy',
              optimizer=optimizer,
              metrics=['accuracy'])

In [97]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer_embedding (Embedding)  (None, 56, 8)             80000
_________________________________________________________________
gru_3 (GRU)                  (None, 56, 16)            1200
_________________________________________________________________
gru_4 (GRU)                  (None, 56, 8)             600
_________________________________________________________________
gru_5 (GRU)                  (None, 4)                 156
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 5
=================================================================
Total params: 81,961
Trainable params: 81,961
Non-trainable params: 0
_________________________________________________________________

## TRAIN THE RECURRENT NERUAL NETWORK

In [98]:
%%time
model.fit(x_train_pad, dem_train_y,
          validation_split=0.05, epochs=3, batch_size=64)

Train on 8601 samples, validate on 453 samples
Epoch 1/3
8601/8601 [==============================] - 15s 2ms/sample - loss: 0.2525 - acc: 0.9866 - val_loss: 0.0626 - val_acc: 1.0000
Epoch 2/3
8601/8601 [==============================] - 14s 2ms/sample - loss: 0.0489 - acc: 1.0000 - val_loss: 0.0385 - val_acc: 1.0000
Epoch 3/3
8601/8601 [==============================] - 14s 2ms/sample - loss: 0.0322 - acc: 1.0000 - val_loss: 0.0268 - val_acc: 1.0000
CPU times: user 1min 43s, sys: 42.3 s, total: 2min 25s
Wall time: 44.8 s

## PERFORMANCE ON THE TEST SET

In [99]:
%%time
result = model.evaluate(x_test_pad, rep_test_x)

14448/14448 [==============================] - 12s 835us/sample - loss: 3.6310 - acc: 0.0000e+00
CPU times: user 27.7 s, sys: 13.2 s, total: 40.9 s
Wall time: 12.1 s

In [100]:
print("Accuracy: {0:.2%}".format(result[1]))

Accuracy: 0.00%

In [101]:
text1 = "This movie is fantastic! I really like it because it is so good!"
text2 = "Good movie!"
text3 = "Maybe I like this movie."
text4 = "Meh ..."
text5 = "If I were a drunk teenager then this movie might be good."
text6 = "Bad movie!"
text7 = "Not a good movie!"
text8 = "This movie really sucks! Can I get my money back please?"
texts = [text1, text2, text3, text4, text5, text6, text7, text8]

In [102]:
tokens = tokenizer.texts_to_sequences(texts)

In [103]:
tokens_pad = pad_sequences(tokens, maxlen=max_tokens,
                           padding=pad, truncating=pad)
tokens_pad.shape

(8, 56)

In [104]:
model.predict(tokens_pad)

array([[0.9735117 ],
       [0.97351193],
       [0.9735116 ],
       [0.9735123 ],
       [0.97351044],
       [0.9735115 ],
       [0.97351193],
       [0.97350955]], dtype=float32)