In [40]:
import pandas as pd

In [41]:
senategop = pd.read_json("examples/SenateGOP.json",lines=True)

In [42]:
senategop.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,NaN,NaN,2019-06-26 00:15:28,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1143674099396468736,1143674099396468736,...,NaN,NaN,NaN,41,False,{'created_at': 'Wed Jun 26 00:08:37 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",RT @SASCMajority: The United States is the gre...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."
1,NaN,NaN,2019-06-25 23:54:56,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1143668933272231943,1143668933272231936,...,NaN,NaN,NaN,72,False,{'created_at': 'Tue Jun 25 22:46:12 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",RT @JimInhofe: It’s been eight weeks since @re...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."
2,NaN,NaN,2019-06-25 22:06:05,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1143641539291336705,1143641539291336704,...,NaN,NaN,NaN,42,False,{'created_at': 'Tue Jun 25 21:59:39 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",RT @SenThomTillis: I spoke on the Senate floor...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."
3,NaN,NaN,2019-06-25 20:52:20,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,193,False,NaN,1143622980033024008,1143622980033024000,...,NaN,NaN,NaN,50,False,NaN,"<a href=""https://studio.twitter.com"" rel=""nofo...",Iran’s recent aggression is a reminder of the ...,True,"{'id': 14344823, 'id_str': '14344823', 'name':..."
4,NaN,NaN,2019-06-25 19:31:01,"{'hashtags': [{'text': 'NDAA', 'indices': [50,...",NaN,0,False,NaN,1143602515570765826,1143602515570765824,...,NaN,NaN,NaN,13,False,{'created_at': 'Tue Jun 25 18:05:24 +0000 2019...,"<a href=""https://buffer.com"" rel=""nofollow"">Bu...",RT @SenCapito: Ready to vote “yes” on this yea...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."

In [43]:
tweets = senategop["text"]
tweets.head()

0    RT @SASCMajority: The United States is the gre...
1    RT @JimInhofe: It’s been eight weeks since @re...
2    RT @SenThomTillis: I spoke on the Senate floor...
3    Iran’s recent aggression is a reminder of the ...
4    RT @SenCapito: Ready to vote “yes” on this yea...
Name: text, dtype: object

In [44]:
t_df= pd.DataFrame(tweets)
t_df.head()

                                                text
0  RT @SASCMajority: The United States is the gre...
1  RT @JimInhofe: It’s been eight weeks since @re...
2  RT @SenThomTillis: I spoke on the Senate floor...
3  Iran’s recent aggression is a reminder of the ...
4  RT @SenCapito: Ready to vote “yes” on this yea...

In [45]:
t_df.colums = ["tweet text"]

C:\Users\purchasing\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [46]:
t_df = t_df.rename(columns={'text': 'tweet'})
t_df.head()

                                               tweet
0  RT @SASCMajority: The United States is the gre...
1  RT @JimInhofe: It’s been eight weeks since @re...
2  RT @SenThomTillis: I spoke on the Senate floor...
3  Iran’s recent aggression is a reminder of the ...
4  RT @SenCapito: Ready to vote “yes” on this yea...

In [47]:

t_df.insert(0, 'Political Affiliation', 'Republican')

In [48]:
t_df.head()

  Political Affiliation                                              tweet
0            Republican  RT @SASCMajority: The United States is the gre...
1            Republican  RT @JimInhofe: It’s been eight weeks since @re...
2            Republican  RT @SenThomTillis: I spoke on the Senate floor...
3            Republican  Iran’s recent aggression is a reminder of the ...
4            Republican  RT @SenCapito: Ready to vote “yes” on this yea...